body {
  font-family: "Raleway", sans-serif;
}

/* Hero Section */

#Hero-Section {
  background-image:url(../img/20230910_164627.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  background-position:right;
}

/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}

a .foto-logo{
  height: 80px;
  padding: 0;
  margin: 0;
  
}

.titulo-header {
  background-color:hsl(180, 100%, 50%, 0.5);
  display: inline-block;

}

.parrafo-header {
  background-color:hsl(180, 100%, 50%, 0.5);


}
